[user]
	name = masahiro-sanya
	# email はマシン別に ~/.gitconfig.local へ（setup.sh が設定。repo は public のためコミットしない）
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
[merge]
	conflictstyle = zdiff3
[alias]
    tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'

