[user]
	name = masahiro-sanya
	# email is set per-machine via setup.sh
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[alias]
    tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'

